altgraph==0.17.4
bidict==0.22.1
certifi==2023.11.17
charset-normalizer==3.3.2
h11==0.14.0
idna==3.6
macholib==1.16.3
natsort==8.4.0
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
psgtray==1.0.2
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.10
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-OSAKit==10.1
pyobjc-framework-Quartz==10.1
PyScreeze==0.1.30
PySimpleGUI==4.60.5
pystray==0.18.0
python-engineio==4.8.0
python-socketio==5.10.0
pytz==2023.3.post1
requests==2.31.0
simple-websocket==1.0.0
six==1.16.0
urllib3==2.1.0
websocket-client==1.7.0
wsproto==1.2.0
